.flex-container {
  /* We first create a flex layout context */
  display: flex;

  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: center;
  
  padding: 0;
  margin: 0;
  list-style: none;
}
  
.flex-item {
  background: tomato;
  padding: 5px;
  width: 150px;
  height: 150px;
  margin: 10px 5px;
  border-radius: 150px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  /* font-size: 3em; */
  text-align: center;
}

a {
  display: inline-flexbox;
  text-decoration: none;
  height: inherit;
}

/* rimuove l'alone intorno al pulsante dopo averci cliccato e ripristina il colore iniziale del pulsante*/
.btn:focus {
  outline: none;
  box-shadow: none;
  background-color: #198754;
}

.btn:hover {
  background-color: #157347;
}

.response {
  cursor: pointer;
  display: none;
}